@media (max-width: 1660px){
    header#header .box-header .btn {font-size: 37px;max-width: 375px;width: 375px;line-height: 110px;}
    section.wrap-slide-main .wrap-position .img-slide {left:6%}
    .wrap-slide-main .content-slide-header {bottom: -23%;}
    .wrap-slide-main .content-slide-header .content-slide {width: 78%;}
    .wrap-slide-main .content-slide-header .content-slide p {font-size: 70px;}
    section#content-service .main-service .item-service p {width: 90%; margin-top: 35px;}
    section#content-service .main-service .item-service h2 {font-size: 65px;}
    .scroll {margin-top: 6%;}
    section#list-service {padding-top: 90px;}
    section#list-service .wrap-content-list-service { margin-top: 4%;}
    .wrap-title h2 {font-size: 75px;}
    /*  */
    .background-gray header#header {padding:15px 0}
    section#content-service .main-service {padding: 100px 23px 50px;}
    section#content-service .border-service {margin-top: 11%; margin-bottom: 8%;}
}
@media (max-width: 1366px){
    header#header .logo img.logo-pc{width: 85%;}
    .wrap-slide-main .content-slide-header .content-slide p {font-size: 60px;}
    .wrap-slide-main .content-slide-header {bottom: -18%;}
    .wrap-slide-main .content-slide-header .content-slide { padding: 80px 8% 80px 75px;}
    section#content-service .main-service .item-service h2 {font-size: 58px;}
    section#app .box-app {width: 90%;}
    section#content-service .container {max-width: 90%;}
    section#content-service .main-service .item-service p { width: 100%;}
    section#list-service .wrap-content-list-service {display: inherit;}
    .wrap-slide-main {min-height: 875px;}
    section.wrap-slide-main .wrap-position .img-slide {left: 1%; }
    header#header .logo {margin-left: 70px;}
    header#header .box-header .btn {font-size: 32px;max-width: 315px;width: 315px;line-height: 100px;}
    header#header .box-header .btn:last-child {margin-left: 10px;max-width: 315px; width: 315px;}
    section#rental p {width:90%}
    section.wrap-slide-main .wrap-position .img-slide img {max-width: 400px;}
    .wrap-slide-main .content-slide-header .title-content {font-size: 45px; max-width: 500px;}
    section#service .wrap-slide-service .item {width:auto;}
    /*  */
    .wrap-content-doxcument {font-size: 30px;}
}
@media (max-width: 1200px){
    .wrap-slide-main .content-slide-header .content-slide p {font-size: 55px;}
    .wrap-slide-main .content-slide-header .content-slide {padding: 80px 5% 80px 75px;}
    /*  */
    section#app .box-app .box-background {margin-right: 0;}
    .background-gray section#wrap-dox {padding-left:50px;padding-right:50px;}
}
@media (max-width: 1080px){
.container{max-width:1080px!important; margin-left: 0;}
/*  */
/*  */
header#header{margin-top: 30px;}
header#header .logo{margin-left: 35px;}
header#header .logo img:not(.logo-mobile){display: none;}
header#header .logo img.logo-mobile{display: block;}
header#header .box-header .btn{font-size: 30px; padding:21.5px 12px; max-width: 292px; width: 292px; line-height: inherit}
header#header .box-header .btn:last-child{margin-left: 30px;}
.wrap-slide-main{background: url(../images/background-header-mobile.png); min-height: 836px;}
.wrap-title p{ margin-top: -25px;}
.wrap-title .content-title{padding-top: 45px; line-height: 70px;}
section.wrap-slide-main .wrap-position .img-slide{left: 100px; margin-bottom: 0;}
section.wrap-slide-main .wrap-position .img-slide img:not(.image-phone-pc){display: block;}
section.wrap-slide-main .wrap-position .img-slide img.image-phone-pc{display: none;}
.wrap-slide-main .content-slide-header{bottom: -25%;}
.wrap-slide-main .content-slide-header .title-content{font-size: 45px;  padding: 16.5px 47px 16.5px 73px;margin-bottom: -25px; width: auto;max-width: inherit;text-align: inherit;}
.wrap-slide-main .content-slide-header .content-slide{ padding:100px 40px 82px 75px; text-align: right; width: 76%;}
.wrap-slide-main .content-slide-header .content-slide p{ font-size:55px;}

section#content-service{ padding-top: 240px; }
section#content-service .border-service{height: 2px; margin-top: 11%; margin-bottom: 8%;}
section#content-service .main-service .item-service{ font-size: 36px;}
section#content-service .main-service .item-service h2{ font-size: 55px;}
section#content-service .main-service .item-service p{ width: auto;margin: auto;margin-top: 0;text-align: inherit;}
section#content-service .main-service .item-service:last-child p{text-align: inherit;}
section#content-service .images-position .img-fade-top{width: 53%; top: 27%; left:-77px}
section#content-service .images-position .img-fade-bottom{width: 44%; display: block}
section#content-service .main-service .item-service:last-child p .font-bold{font-family: var(--font-bold);}
section#content-service .main-service {padding-top: 16%}
/*  */
.scroll{top: -60px; margin-top: 30px;}
.scroll .scroll-txt{ font-size: 20px;}
.scroll .scroll-animation{top: 40px; width: 2px;height: 73px;}
.scroll .scroll-animation:after{width: 2px;border-left: 2px #8BB0CA solid;-webkit-animation: scroll 1.5s ease-in-out 0.4s infinite normal;animation: scroll 1.5s ease-in-out 0.4s infinite normal;margin: 0 auto 0;}

/*  */
section#list-service{padding-top: 0;}
section#list-service .container{max-width: inherit}
section#list-service .wrap-content-list-service{text-align: inherit; margin-top: 0; display: inherit;}
section#list-service .wrap-list-service{display: flex;}
section#list-service .wrap-list-service .item-list-service{ margin-top: 0;}
section#list-service .wrap-video .show-popup.active{margin-bottom: 0;}
section#list-service .wrap-video .show-popup.active:after {opacity: 0;}
.wrap-video{margin-top: 60px; margin-bottom: 0;}
.wrap-animation{width: 100%}
.wrap-animation .box-content-animation{margin: 0 45px; padding-bottom: 0}
.wrap-video .wrap-video-animate{margin-top: 0;}

/* wrap-price */
section#wrap-price{padding-top: 20px;}
section#wrap-price .content-price{ margin-top: 0; font-size: 16px;}
section#wrap-price .content-price .item-box-price p{font-size: 36px;}
section#wrap-price .content-price .item-box-price .content-text-price{ width: 85%; margin: 0 auto; margin-top: 0;margin-bottom: 0;}
section#wrap-price .content-price .item-box-price .content-text-price p{line-height: 65px}
section#wrap-price .wrap-animation .box-content-animation p:not(.font-bold){line-height: 50px; padding:0 35px; text-align: left; font-size: 36px; width: 100%; padding:0 5px}
section#wrap-price .wrap-animation .box-content-animation p.font-bold.text-right{ margin-top: 20px; margin-bottom: 30px; font-size: 30px;}
section#wrap-price .wrap-animation{padding-left:35px; padding-right:35px}
section#wrap-price .wrap-animation .box-content-animation{ width: 100%;}
/* rental */
section#rental h3{margin-top: -30px;}
section#rental p{font-size: 36px; padding:0 32px; width: 100%; line-height: 2}
/* gym */
section#gym{ padding-top: 45px;}
section#gym .wrap-gym-animate{margin-bottom: 50px;}
section#gym .wrap-slide-gym{width:100%; max-width: 800px;margin:0 auto}
.content-slide-gym{margin:0 auto; margin-top: 40px; margin-bottom: 55px; width:80%;}
section#gym .wrap-animation .box-content-animation .location-gym{padding-bottom: 20px;}
section#gym .box-content-animation .wrap-ifame{width:754px;}

/* app */
section#app .box-app{width: 100%}
section#app .box-app .carousel-indicators li.active {font-size: 43px;}
section#app .box-text-swipe .text-swipe:not(.click-pc){display: flex; line-height: 1; position: relative;}
section#app .box-text-swipe .text-swipe.click-pc{display: none;}
section#app .box-text-swipe .text-detail-swipe p.text-mobile{display: block;}
section#app .box-text-swipe .text-detail-swipe p.text-pc{display: none;}
/* service */
section#service{padding-top: 40px;}
section#service .wrap-slide-service{width: 350px; margin:0 auto; }
section#service .comment-slide{ padding:60px 0;}
/*  */
.wrap-content-doxcument {font-size: 28px;}
main#main .wrap-box-table ul#wrap-table{font-size: 30px;}
section#app .box-app .carousel-indicators li {padding:15px 0; border: 0;}
.box-content-animation .box-image-popup .item-box {margin-bottom: 15px;}
section#wrap-price .content-price .item-box-price.box-show-price .box-show-detail {border-bottom: 3px solid var(--color-main);}
section#app .box-app .box-background {margin-right: 20px;}
section#app .box-text-swipe{z-index: 8;}
section#app .box-app .box-background .box-control-slide a[class*=carousel-control-]{display: none}
section#app .box-text-swipe .text-swipe::before,
section#app .box-text-swipe .text-swipe::after{background-size: 52px 25px;display: inline-block;width: 52px;height: 25px;content: "";position: absolute;}
section#app .box-text-swipe .text-swipe::before{ background-image: url('../images/Arrow\ 2.png'); left: -60px}
section#app .box-text-swipe .text-swipe::after{background-image: url('../images/Arrow\ 1.png');right: -60px;}
}
@media (max-width: 1024px){
    header#header .logo {margin-left: 25px;}
    header#header .box-header .btn, header#header .box-header .btn:last-child {font-size: 20px;max-width: 220px;width: 220px;}
    header#header .box-header .btn:last-child {margin-left: 15px;}
    .wrap-slide-main .content-slide-header .content-slide {padding: 50px 40px 50px 60px;text-align: right;width: 80%;}
    .wrap-slide-main .content-slide-header {bottom: -12%;}
    .wrap-slide-main .content-slide-header .content-slide p {font-size: 48px;}
    .wrap-slide-main .content-slide-header .title-content {font-size: 40px; padding: 12.5px 47px 14.5px 73px;}
    section.wrap-slide-main .wrap-position .img-slide {left: 15px;}
    section#content-service {padding-top: 180px;}
    section#content-service .main-service .item-service h2 {font-size: 48px; margin-bottom: 15px;}
    section#content-service .main-service .item-service p {line-height: 60px;}
    section#content-service .main-service .item-service {font-size: 33px;}
    section#content-service .border-service {margin-top: 10%;}
    .wrap-slide-main {min-height: 770px; background-size: cover;}
    .wrap-title h2 {font-size: 65px;}
    section#list-service .wrap-list-service .item-list-service {max-width: 290px;}
    .wrap-list-service .item-list-service h3 {font-size: 35px;line-height: 70px; margin-top: 13px;}
    section#list-service .wrap-list-service .item-list-service {min-height: 345px;}
    .wrap-list-service .item-list-service p {margin-top: -17px;}
    .wrap-list-service .item-list-service .img {min-height: 100px;}
    .wrap-list-service .item-list-service .img img {height: 90px;}
    .wrap-list-service .item-list-service span.content {font-size: 20px;}
    .wrap-list-service .item-list-service a.show-tabs { margin-top: 10px;}
    .show-popup {font-size: 28px;}
    .wrap-animation h3 {font-size: 40px;}
    section#wrap-price .content-price p,
    section#wrap-price .content-price p.font-36,
    section#wrap-price .content-price .item-box-price p,
    section#wrap-price .content-price .item-box-price:last-child p,
    section#wrap-price .wrap-animation .box-content-animation p.font-bold.text-right {font-size: 2rem;}
    section#wrap-price .content-price .item-box-price p:first-child {padding-top: 0;}
    section#wrap-price .content-price .item-box-price .content-text-price {width: 90%;}
    section#wrap-price .content-price .item-box-price .content-text-price p{font-size: 1.6rem;}
    section#wrap-price .wrap-animation .box-content-animation p.font-bold.text-right{padding-right: 15px;}
    section#wrap-price .wrap-animation .box-content-animation p.font-bold.text-right{font-size: 24px;}
    section#wrap-price .content-price .item-box-price p>span.font-bold {font-size: 3rem;line-height: 1;}
    section#wrap-price .wrap-animation .box-content-animation p:not(.font-bold),
    section#wrap-price .content-price .item-box-price .box-show-detail .box-content-animation p>span.font-bold,
    section#rental p {font-size: 2rem; line-height: 2;}
    footer#footer .wrap-footer {padding: 75px 0 60px;}
    footer#footer .wrap-footer ul li a {display: inline-block; font-size: 25px;}
    footer#footer .wrap-footer p, footer#footer .wrap-footer p span {font-size: 18px;}
    /*  */
    .wrap-content-doxcument h3 {margin-top: 50px; font-size: 2.5rem;}
    main#main .wrap-box-table ul#wrap-table{font-size: 28px;}
    .wrap-content-doxcument ul ul{padding-left:30px}
    section#list-service .show-popup {width: 232px;}
    section#gym .show-popup { width: 179px;}
    section#wrap-price .show-popup {width: 175px;}
    section#app .box-app .carousel-indicators {width: 59%;}
    section#app .box-app .box-background {width:40%}
    section#app .box-app .carousel-inner {max-width: 87%;height: 91%; margin: 20px 24px 20px 24px; top: 37px; border-radius: 28px;}
    section#app .box-app .box-background .box-control-slide {top: 14px;left: 22px;right: 26px;bottom: 12px;border-radius: 28px;}
    section#app .box-text-swipe {border-radius: 28px;}
    section#app .box-text-swipe .text-swipe {font-size: 29px; width: 180px;height: 180px;}
    section#app .box-text-swipe .text-detail-swipe p {font-size: 26px;line-height: 40px;}
    section#app .box-text-swipe .text-detail-swipe {bottom: 16%;}
    .background-gray header#header {padding: 24px 0;}
    section#service .wrap-slide-service .owl-carousel.owl-drag .owl-item, section#service .wrap-slide-service .owl-carousel.owl-drag .owl-item .item {height: 457px!important;}

}
@media (max-width: 992px){
    header#header{margin-top: 20px;}
    header#header .box-header .btn, header#header .box-header .btn:last-child {max-width: 215px;width: 215px;}
    .wrap-slide-main {min-height: 700px; background-position: center;}
    section.wrap-slide-main .wrap-position .img-slide img:not(.image-phone-pc) {width: 300px;}
    header#header .logo img.logo-mobile{height: 60px;}
    header#header .box-header .btn{padding-top:15px; padding-bottom: 15px;}
    .wrap-slide-main .content-slide-header .title-content{font-size: 36px; padding: 10px 35px 12px 55px}
    .wrap-slide-main .content-slide-header .content-slide p{font-size: 40px; line-height: 1;}
    .wrap-slide-main .content-slide-header {bottom: -10%;}
    section#content-service .main-service .item-service h2 {font-size: 42px;margin-bottom: 15px;}
    section#content-service .main-service .item-service {font-size: 30px;}
    section#content-service .main-service .item-service p {line-height: 50px;}
    .wrap-title h2 {font-size: 60px;line-height: 120px;}
    .wrap-title p {font-size: 30px;}
    .wrap-title .content-title {padding-top: 20px;line-height: 60px;font-size: 30px;margin-bottom: 20px;}
    section#list-service {padding-top: 20px;}
    section#wrap-price .content-price p,
    section#wrap-price .content-price p.font-36,
    section#wrap-price .content-price .item-box-price p, 
    section#wrap-price .wrap-animation .box-content-animation p.font-bold.text-right {font-size: 30px;}
    section#wrap-price .content-price .item-box-price .content-text-price {width: 100%;padding: 0 15px; margin-bottom: 20px;}
    section#wrap-price .content-price .item-box-price .content-text-price p {line-height: 50px;}
    section#rental h3 {font-size: 40px;line-height: 80px;margin-top: 0;}
    section#rental p {font-size: 30px;padding: 0 15px; line-height: 1.4;}
    .content-slide-gym {font-size: 30px;margin-top: 40px;margin-bottom: 30px;width: 90%;}
    .wrap-video {margin-top: 40px;}
    section#app .box-app .carousel-indicators li {font-size: 28px; color: #707070;}
    section#app .box-app .carousel-indicators li.active {font-size: 30px; color: #000000;}
    section#app {padding-bottom: 60px;padding-top: 55px;}
    /* section#app .box-app .box-background { width: 370px; margin-right: 20px;} */
    section#app .box-app .carousel-inner {margin: 16px 21px; border-radius: 20px;}
    section#app .box-app .box-background .box-control-slide {top: 13px;left: 21px;right: 24px;bottom: 11px;border-radius: 29px;}
    section#app .box-text-swipe {border-radius: 30px;}
    section#app .box-text-swipe .text-detail-swipe {bottom: 17%;}
    section#app .box-text-swipe .text-swipe {font-size: 30px;width: 160px;height: 160px;}
    section#app .box-text-swipe .text-detail-swipe p {font-size: 26px;}
    div.marquee > div.marquee-text img{height: 160px;}
    section#service .wrap-text-slide-service a{font-size: 26px;margin-top: 30px; margin-bottom: 12px;}
    section#service .wrap-text-slide-service p{font-size: 26px; line-height: 40px; white-space: nowrap;text-overflow: ellipsis; height: 40px;width: 100%; overflow: hidden;}
    section#service .comment-slide {padding: 50px 0;}
    footer#footer .wrap-footer {padding: 50px 0 45px;}
    footer#footer .wrap-footer ul li a, footer#footer .wrap-footer p, footer#footer .wrap-footer p span {font-size: 25px;}
    /*  */
    main#main .wrap-box-table ul#wrap-table{font-size: 26px;}
    .wrap-content-doxcument ul ul{padding-left:20px}
    section#list-service .wrap-list-service.list-service-one{max-width: calc(200% / 3);margin: 0 auto;}
    section#wrap-price .box-content-animation .box-image-popup .item-box p {margin-left: -35px; font-size: 20px;}
    section#content-service {padding-bottom: 40px;}
    section#content-service .images-position .img-fade-top {top: 25%;}
    .scroll {top: 0;}
    section#content-service .images-position .img-fade-bottom {width: 51%;}
    section#service .wrap-slide-service .owl-carousel.owl-drag .owl-item, section#service .wrap-slide-service .owl-carousel.owl-drag .owl-item .item{height: 427px!important;}
}
@media (max-width: 768px){
    header#header .logo {margin-left: 15px;}
    header#header .logo img.logo-mobile {height: 50px;}
    header#header .box-header .btn, header#header .box-header .btn:last-child {max-width: 190px;width: 190px;font-size: 18px;}
    .wrap-slide-main {min-height: 610px;}
    .wrap-slide-main .content-slide-header .title-content {font-size: 30px;padding: 14px 30px 14px 30px;line-height: 1;}
    .wrap-slide-main .content-slide-header .content-slide p {font-size: 32px;}
    .wrap-slide-main .content-slide-header {bottom: -7%;}
    /* section#content-service {padding-top: 140px} */
    section#content-service .container {overflow: hidden; position: relative; bottom: -20px;}
    section#content-service .main-service .item-service {padding: 35px 0; font-size: 26px;}
    section#content-service .main-service .item-service h2 {font-size: 35px;}
    .wrap-title h2 {font-size: 50px;line-height: 2;}
    .wrap-title p {font-size: 25px;}
    section#list-service .wrap-content-list-service {margin:0 -9px; margin-top: 30px;}
    .wrap-list-service .item-list-service h3 {font-size: 28px; margin-top: 5px; line-height: 55px;}
    section#list-service .wrap-list-service .item-list-service {margin: 0 9px; min-height: 275px}
    /* section#list-service .wrap-list-service {flex-direction: column;align-items: center;} */
    section#list-service .wrap-list-service {margin-top: 18px}

    .wrap-list-service .item-list-service .img {
        min-height: 60px;
    }
    .wrap-list-service .item-list-service .img img {
        height: 60px;
    }
    .wrap-list-service .item-list-service span.content {
        font-size: 16px;
    }
    .wrap-list-service .item-list-service a.show-tabs {
        margin-top: 0;
    }
    section#wrap-price .content-price p, 
    section#wrap-price .content-price p.font-36, section#wrap-price .content-price .item-box-price p,
    section#wrap-price .content-price .item-box-price p:first-child , 
    section#wrap-price .content-price .item-box-price:last-child p,
    section#wrap-price .wrap-animation .box-content-animation p.font-bold.text-right {font-size: 1.5rem; line-height: 2.2;}
    section#rental h3 {font-size: 35px;line-height: 2;}
    section#rental p {font-size: 25px; line-height: 2;}
    section#gym p {font-size: 25px;}
    .wrap-title .content-title {line-height: 2;font-size: 25px; padding:0 15px}
    section#app .box-app {padding-top: 40px;}
    section#app .box-app .carousel-indicators li span {width: 40px;height: 40px;margin-right: 5px;}
    section#app .box-app .carousel-indicators li span:before {width: 30px; height: 30px;}
    section#app .box-app .carousel-indicators li.active span:before {width: 45px;height: 45px;}
    section#app .box-app .carousel-indicators li.active,section#app .box-app .carousel-indicators li {font-size: 24px;min-height: 45px; padding: 13px 0}
    section#app .box-app .carousel-indicators li.active{font-size: 30px;}
    section#app .box-app .carousel-indicators li.active span{width: 45px; height: 45px;}
    section#app .box-app .carousel-indicators {width: 48%;}
    section#app .box-app .box-background {width: 49%;margin-right: 20px;}
    section#app .box-app .carousel-inner{width: auto;height: 92%;margin: 0;left: 6%;right: 6.6%;top: 6.2%;bottom: 6%; border-radius: 21px;}
    section#app .box-text-swipe {border-radius: 50px; width: 98%;}
    section#app .box-app .box-background .box-control-slide {top: 0;left: 0;right: 0;bottom: 0;}
    section#app .box-text-swipe .text-swipe {font-size: 18px;width: 120px;height: 120px;}
    section#app .box-text-swipe .text-detail-swipe p {font-size: 20px;}
    section#app .box-app .box-background .box-control-slide a.carousel-control-prev {left: 10%;}
    section#app .box-app .box-background .box-control-slide a.carousel-control-next {right: 10%;}
    section#service .comment-slide {font-size: 20px;}
    section#service .wrap-text-slide-service p {padding:0 10px}
    footer#footer .wrap-footer ul li a{font-size: 18px;}
    footer#footer .wrap-footer p, footer#footer .wrap-footer p span {font-size: 16px;}
    footer#footer .wrap-footer {padding: 30px 0;}
    .wrap-animation h3 {font-size: 32px;padding: 0 15px;}
    section#wrap-price .wrap-animation .box-content-animation {width: auto;}
    .wrap-animation .box-content-animation .box-image-popup {margin-top: 20px;padding-bottom: 15px;}
    section#gym .box-content-animation .wrap-ifame {width: 100%;}
    .wrap-video {padding-left: 0; padding-right: 0; width:auto;}
    .wrap-animation .box-content-animation {margin: 0;padding-top: 15px;} 
    section#wrap-price .content-price .item-box-price .content-text-price p {line-height: 43px; font-size: 1.2rem;}
    section#service .wrap-slide-service #slde-2-service {margin-top: 60px;}
    section#gym .wrap-slide-gym {width: 75%;max-width: 75%;}
    footer#footer .wrap-footer ul {flex-direction: column;}
    footer#footer .wrap-footer ul li{border:none!important}
    section#wrap-price .content-price .icon-plus {font-size: 30px;}
    section#wrap-price .content-price .item-box-price .content-text-price{margin-top: 10px;}
    section#wrap-price .content-price .item-box-price .content-text-price p{margin-bottom: 0;}
    section#gym .wrap-gym-animate{padding: 15px;margin-left: 20px;margin-right: 20px;width: auto;}
    /*  */
    .wrap-content-doxcument { width: 90%;}
    .wrap-content-doxcument h3 {margin-top: 40px;}
    .wrap-content-doxcument h3 {font-size: 1.75rem;}
    .wrap-content-doxcument p {font-size: 1.2rem;}
    main#main .wrap-box-table {padding: 0 18px 30px}
    main#main .wrap-box-table h1{font-size: 30px; line-height: 1.5;}
    section#content-service .main-service {margin-top: 15px;    padding-top: 14%;}
    .wrap-content-doxcument ul ul{padding-left:10px}
    section#content-service .images-position .img-fade-top {width: 76%;top: 6%;left: -101px;}
    section#rental h3>span, .wrap-title .content-title span{display: block; line-height: 1;}
    section#wrap-price .box-content-animation .box-image-popup .item-box p {font-size: 25px!important; line-height: 2;}
    .box-content-animation .box-image-popup .item-box img{width: 90%;}
    section#content-service .images-position .img-fade-bottom { width: 56%;}
    section#content-service {padding-top: 140px;}
    section#content-service {padding-bottom: 0;}
    section#content-service .container {padding-bottom: 70px;}
    .scroll {top: -50px;}
    section#wrap-price .content-price .item-box-price p>span.font-bold,
    section#wrap-price .content-price .item-box-price .box-show-detail .box-content-animation p>span.font-bold,
    section#wrap-price .wrap-animation .box-content-animation p:not(.font-bold) {font-size: 28px; line-height: 2;}
    section#wrap-price .content-price .item-box-price p>span.font-bold.color-black {font-size: 2.5rem;}
    .background-gray section#wrap-dox {padding-left:20px;padding-right:20px;}
    .wrap-content-doxcument h1, main#main .wrap-box-table h1 {font-size: 2.0625rem;}
    main#main .wrap-box-table ul#wrap-table {font-size: 1.2rem;}
    main#main .wrap-box-table ul#wrap-table li div {padding: 20px 15px;}
    ul li.text-item,ul li.text-item p {line-height: 1;}
    ul li.text-item p {padding-left: 15px;}
    section#gym .wrap-slide-gym .item img {height: 370px;}
}
@media (max-width:660px) {
    header#header .logo img.logo-mobile {height: 45px;}
    header#header .box-header .btn, header#header .box-header .btn:last-child {max-width: max-content;width: auto;font-size: 15px;padding-left: 15px;padding-right: 15px;}
    .wrap-slide-main {min-height: 450px;background-position: top;}
    section.wrap-slide-main .wrap-position .img-slide {width: 35%;}
    section.wrap-slide-main .wrap-position .img-slide img:not(.image-phone-pc) {width: 100%;}
    .wrap-slide-main .content-slide-header .title-content {font-size: 20px;}
    .wrap-slide-main .content-slide-header .content-slide p {font-size: 24px; margin-bottom: -5px;}
    .wrap-slide-main .content-slide-header .content-slide br{height: 1px;}
    .wrap-slide-main .content-slide-header {bottom: -3%;}
    section#content-service .main-service .item-service h2 {font-size: 26px;}
    section#content-service .main-service .item-service {font-size: 20px;}
    section#content-service .main-service .item-service p {line-height: 34px;}
    .wrap-title h2 {font-size: 45px;line-height: 2;}
    .show-popup {font-size: 20px;margin-bottom: 37px;min-height: 40px;}
    .wrap-title h2 {font-size: 38px;line-height: 2;}
    .show-popup:after {height: 3px;}
    section#list-service .wrap-content-list-service {margin-bottom: 30px;}
    section#wrap-price .content-price p, section#wrap-price .content-price p.font-36, section#wrap-price .content-price .item-box-price p, section#wrap-price .wrap-animation .box-content-animation p.font-bold.text-right {font-size: 20px;line-height: 2;}
    section#wrap-price .content-price p.font-36 {margin:0}
    section#wrap-price .content-price .item-box-price p, section#wrap-price .content-price .item-box-price .content-text-price{padding:0 15px }
    section#wrap-price .content-price .item-box-price .content-text-price p{padding:0}
    section#wrap-price .content-price .item-box-price p>span.font-bold {font-size: 35px;}
    section#wrap-price .content-price .box-show-detail .wrap-animation p>span.font-bold{font-size: 28px;}
    section#rental p {font-size: 16px; margin-top: -15px;}
    section#rental h3 {font-size: 26px; margin-bottom: 35px; line-height: 1.5   ;}
    .wrap-title p {margin-top: -25px;}
    .wrap-title .content-title {font-size: 20px;}
    section#gym p {font-size: 18px;}
    .wrap-animation h3 {font-size: 18px;}
    section#app .box-app .carousel-indicators {width: 48%;}
    .wrap-title p {font-size: 20px;}
    section#service .wrap-text-slide-service a {font-size: 22px; margin-top: 20px;}   
    section#service .wrap-text-slide-service p {font-size: 20px;line-height: 1.5;height: 30px;} 
    footer#footer .wrap-footer ul li a, footer#footer .wrap-footer p, footer#footer .wrap-footer p span {font-size: 15px!important;padding: 0 10px;}
    footer#footer .wrap-footer p span#get-year{padding:0}
    section#service .wrap-slide-service {width: 300px;}
    section#service .wrap-slide-service .owl-carousel .item img {height: 200px;}
    footer#footer .wrap-footer ul li {border-width: 1px}
    section#gym .wrap-slide-gym .item img {height: 280px;}
    .wrap-video {padding: 0; margin:0}
    .wrap-animation .box-content-animation {margin: 0; border-width: 2px;}
    .wrap-animation .box-content-animation iframe {width: 100%;height: 250px;}
    section#wrap-price .content-price .icon-plus {font-size: 20px;}
    section#rental {padding: 125px 0 55px;}
    section#content-service .main-service {padding-top: 50px;}
    section#content-service .images-position .img-fade-top {top: 3%; left: -70px;}
    section#content-service .images-position .img-fade-bottom {width: 51%;}
    section#list-service {padding-top: 35px;}
    section#service .wrap-slide-service .owl-carousel.owl-drag .owl-item, section#service .wrap-slide-service .owl-carousel.owl-drag .owl-item .item {
        height: 350px!important;
    }
    section#list-service .show-popup {width: 175px;}
    section#list-service .show-popup.active {width: 97px;}
    section#wrap-price .show-popup {width: 135px;}
    section#wrap-price .show-popup.active {width: 155px;}
    section#gym .show-popup {width: 142px;}
    section#gym .show-popup.active {width: 160px;}
    section#app .box-text-swipe .text-swipe::before,
    section#app .box-text-swipe .text-swipe::after{background-size: 30px 15px;display: inline-block;width: 30px;height: 15px;content: "";position: absolute;}
    section#app .box-text-swipe .text-swipe::before{ background-image: url('../images/Arrow\ 2.png'); left: -45px}
    section#app .box-text-swipe .text-swipe::after{background-image: url('../images/Arrow\ 1.png');right: -45px;}
}
@media (max-width:576px){
    header#header .box-header .btn, header#header .box-header .btn:last-child {font-size: 13px;}
    header#header .box-header .btn:last-child {margin-left: 7px;}
    header#header .box-header {margin:0}
    header#header .logo {margin-left: 12px;}
    header#header .logo img.logo-mobile {height: 36px;}
    p{font-size: 1rem!important;}
    h2{font-size: 24px!important;}
    .wrap-list-service .item-list-service h3 {font-size: 20px;}
    .wrap-list-service .item-list-service p {font-size: 12px!important;}
    .wrap-list-service .item-list-service span.content {font-size: 12px; line-height: 20px;padding:0 3px}
    .wrap-list-service .item-list-service .img {min-height: 45px; margin-bottom: 10px;}
    section#list-service .wrap-list-service .item-list-service {min-height: 225px;}
    .wrap-list-service .item-list-service .img img {height: 45px;}
    section#wrap-price .content-price .item-box-price p>span.font-bold {font-size: 30px;}
    section#app .box-text-swipe .text-swipe {font-size: 16px;width: 80px;height: 80px;}
    section#app .box-text-swipe .text-detail-swipe p {line-height: 2;}
    section#app .box-app .box-background .box-control-slide a[class*=carousel-control-] span img{width: 30px;}
    .wrap-title p {margin-top: -18px;}
    section#wrap-price .content-price .item-box-price p{padding-bottom: 5px;}
    section#wrap-price .content-price .item-box-price p:first-child {padding-bottom: 0;margin-bottom: 0px;padding-top: 13px;}
    section#wrap-price .wrap-animation .box-content-animation p:not(.font-bold) {line-height: 1.5;}
    section#wrap-price .content-price .box-show-detail .wrap-animation p>span.font-bold {font-size: 16px;}
    section#wrap-price .content-price {padding:0;padding-bottom: 30px;}
    section#service .wrap-slide-service #slde-2-service {margin-top: 50PX;}
    .wrap-slide-main .content-slide-header .title-content {font-size: 13px;}
    section#app .box-app .carousel-indicators li span {width: 35px;height: 35px;}
    section#app .box-app .carousel-indicators li span:before{width: 25px;height: 25px;}
    section#app .box-app .carousel-indicators li.active span:before {width: 35px;height: 35px}
    section#app .box-app .carousel-indicators{margin-left: 0;}
    section#app .box-app .box-background {width: 50%;margin-right: 0;}
    div.marquee{margin-top: 0;}
    div.marquee > div.marquee-text img{height: 100px;}
    section#service .wrap-title .content-title {margin-top: 40px}
    section#wrap-price .wrap-animation .box-content-animation {padding-left: 0; padding-right: 0;}
    section#wrap-price .wrap-animation .box-content-animation p:not(.font-bold) {padding:0}
    .show-popup img {width: 16px;}
    section#wrap-price .content-price .item-box-price .content-text-price p{display: contents;}
    section#wrap-price .content-price .item-box-price .content-text-price p:last-child{display: inline;margin-left: -3px;}
    section#content-service .main-service {padding-top: 10px;}
    section#list-service {padding-bottom: 10px; margin-bottom: 0%;}
    .box-content-animation .box-image-popup .item-box img{width:90%}
    section.wrap-slide-main .wrap-position {bottom: -80px;}
    .scroll .scroll-txt {font-size: 16px;}
    section#app .box-app .carousel-indicators li {padding: 10px 0; font-size: 16px;min-height: 35px;}
    section#app .box-app .carousel-indicators li.active {font-size: 22px;}
    section#app .box-app .carousel-indicators li.active{min-height: 35px;}
    section#app .box-app .carousel-indicators li.active span { width: 35px;height: 35px;}
    section#content-service .images-position .img-fade-bottom {width: 65%;right: -22px;transform: rotate(-13deg);bottom: -50px;}
    section#content-service .border-service {margin-top: 50px; margin-bottom: 15px;}
    section#service .wrap-slide-service .item {margin-left: -15px;margin-right: -15px;}
    section#wrap-price .box-content-animation .box-image-popup .item-box p {font-size: 12px!important;}
    section#content-service .images-position .img-fade-top {top: -2%;left: -59px;}
    section#content-service .container {bottom: -15px; padding-bottom: 40px;}
    .scroll .scroll-animation {height: 60px;}
    section#service .wrap-text-slide-service p {height: 25px; padding: 0;}
}
@media (max-width:441px){
    .background-gray header#header {padding: 17.5px 0;}
    header#header .box-header .btn, header#header .box-header .btn:last-child {font-size: 11px;padding: 10px 5px;}
    header#header .logo img.logo-mobile {height: 33px;}
    .wrap-slide-main {min-height: 350px;background-position: top; background-size: cover;}
    section.wrap-slide-main .wrap-position .img-slide {left: 20px;bottom: 30px;}
    .wrap-slide-main .content-slide-header {bottom: 5%}
    .wrap-slide-main .content-slide-header .content-slide {padding: 40px 30px;width: 78%;}
    section#app .box-text-swipe {border-radius: 30px;}
    section#app .box-app .carousel-indicators {width: 49%;}
    section#app .box-app .carousel-indicators li{font-size: 14px;}
    section#app .box-app .carousel-indicators li.active{font-size: 15px;}
    footer#footer .wrap-footer ul li a, footer#footer .wrap-footer p, footer#footer .wrap-footer p span {font-size: 12px!important;padding: 0 7px;}
    section#app .box-text-swipe .text-detail-swipe {bottom: 18%;}
    section#app .box-text-swipe .text-detail-swipe p {font-size: 12px!important; line-height: 1.6;}
    section#gym .wrap-slide-gym {width: 60%; max-width: 60%;}
    section#gym .wrap-slide-gym .item img {height: 220px;}
    .owl-carousel.owl-drag .owl-item .item{margin-left: -5px; margin-right: -5px;}
    section#service .wrap-slide-service {width: 40%;}
    .wrap-slide-main .content-slide-header .content-slide {padding-right: 15px;}
    section#app{padding-bottom: 30px;}
    section#content-service {padding-top: 120px;}
    section#content-service .images-position .img-fade-top {width: 67%;top: 3%; left: -38px;}
    section#content-service .main-service .item-service h2, section#rental h3, .wrap-title .content-title {font-size: 19px!important}
    section#content-service .main-service .item-service p, section#rental p ,section#gym p, .wrap-title .content-title p,
    section#wrap-price .content-price .box-show-detail .wrap-animation p>span.font-bold ,
    section#wrap-price .wrap-animation .box-content-animation p:not(.font-bold) {font-size: 0.75rem!important; line-height: 2;}
    section#wrap-price .content-price .item-box-price .content-text-price p{line-height: 1.2; font-size: 0.75rem!important;}
    .wrap-title .content-title p{margin:0}
    section#service .comment-slide {font-size: 11px!important;}
    section#service .wrap-text-slide-service a.btn-yeylow {min-width: 100%;}
    section#service .wrap-slide-service .item {margin-left: -20px;margin-right: -20px}
    section#service .wrap-slide-service .owl-carousel.owl-drag .owl-item, section#service .wrap-slide-service .owl-carousel.owl-drag .owl-item .item {height: 290px!important;}
    section#service .wrap-slide-service .owl-carousel .item img {height: 160px;}
    section#service .wrap-text-slide-service a {font-size: 18px; height: auto;line-height: 1;padding-top: 6px;padding-bottom: 6px; min-width: 80%}
    section#service .wrap-text-slide-service {padding-bottom: 5px;}
    section#list-service .wrap-list-service { margin-top: 10px; }
    section#list-service .wrap-content-list-service { margin: 20px -10px;}
    section#list-service .wrap-list-service .item-list-service {margin: 0 5px; min-height: 210px;}
    .wrap-list-service .item-list-service a.show-tabs img {width: 15px;}
    .wrap-list-service .item-list-service p {font-size: 10px!important;margin-top: -20px;}
    section#wrap-price .wrap-animation .box-content-animation p.font-bold.text-right {margin-top: 10px;margin-bottom: 15px; font-size: 14px!important;}
    .wrap-animation .box-content-animation .box-image-popup { margin-top: 10px;padding-bottom: 0;}
    .wrap-animation h3 {font-size: 15px;}
    .wrap-animation.wrap-price-animate {padding: 20px 0;}
    section#wrap-price .wrap-animation {padding-left: 20px;padding-right: 20px;}    
    .wrap-list-service .item-list-service span.content br{content: "";margin-bottom: -8px;margin-top: -5px;line-height: 1;display: block;}
    section#wrap-price .box-content-animation .box-image-popup .item-box>p.font-bold{padding:0}
    section#wrap-price .content-price .item-box-price p>span.font-bold.color-black {font-size: 1.8rem;}
    .wrap-content-doxcument h1, main#main .wrap-box-table h1 {font-size: 1.375rem;}
    .wrap-content-doxcument h3 {font-size: 1.18rem; margin-bottom: 35px;}
    ul li.text-item p,.wrap-content-doxcument ul ul {padding-left: 0;}
    .margin-top-ul {margin-top: 0;}
    .background-gray footer {margin-top: 2px;}
    footer#footer .wrap-footer ul {padding: 0;}
    footer#footer .wrap-footer ul li{line-height: 1; margin-bottom: 15px;}
    footer#footer .wrap-footer ul li a{line-height: 2;}
    footer#footer .wrap-footer p {margin-bottom: 5px;}
    .wrap-content-doxcument p, main#main .wrap-box-table ul#wrap-table, main#main .wrap-box-table ul#wrap-table p {font-size: 11px!important; line-height: 2;}
    section#wrap-price .box-content-animation .box-image-popup .item-box p {margin-left: -15px;}
    section#app .box-text-swipe .text-swipe::before{ background-image: url('../images/Arrow\ 2.png'); left: -35px}
    section#app .box-text-swipe .text-swipe::after{background-image: url('../images/Arrow\ 1.png');right: -35px;}
    .background-gray section#wrap-dox {padding-top: 30px; padding-bottom: 15px;}
    main#main.margin-top-header{margin-top: 75px!important}
    main#main .wrap-box-table ul#wrap-table li div {padding: 15px 5px 15px 10px;}
    main#main .wrap-box-table ul#wrap-table {border: 1px solid #2D2D2B;}
    main#main .wrap-box-table ul#wrap-table li div:first-child {border-right: 1px solid #2D2D2B; width: 43%; padding-right: 5px;}
}
@media (max-width:375px){
    header#header .logo {margin-left: 10px;}
    .wrap-list-service .item-list-service span.content {font-size: 9px; line-height: 1;}
    .wrap-list-service .item-list-service h3 {font-size: 16px;line-height: 45px;}
    section#list-service .wrap-list-service .item-list-service {min-height: 170px;}
    .wrap-list-service .item-list-service p {margin-bottom: 8px;}
    .wrap-list-service .item-list-service .img {min-height: 38px; margin-bottom: 2px;}
    .wrap-list-service .item-list-service .img img{height: 38px;}
    section#content-service .images-position .img-fade-bottom {width: 78%; bottom: 5px;}
    .show-popup {font-size: 18px;}
    footer#footer .wrap-footer {padding: 20px 0;}
    section#service , section#app , section#gym{padding-top: 10px;}
    section#rental {padding-top: 100px;}
    section#rental .wrap-title {top: 70px;}
    div.marquee > div.marquee-text img{height: 80px;}
    section#list-service .show-popup {width: 159px;}
    section#list-service .show-popup.active {width: 85px;}
    section#wrap-price .show-popup {width: 120px;}
    section#wrap-price .show-popup.active {width: 138px;}
    section#gym .show-popup {width: 125px;}
    section#gym .show-popup.active {width: 140px;}
    section#app .box-text-swipe .text-swipe {font-size: 14px;width: 60px;height: 60px;}
    section#app .box-text-swipe .text-detail-swipe p { font-size: 11px!important;}
    section#app .box-app .carousel-indicators li {padding: 6px 0; font-size: 12px;}
    section#app .box-app .carousel-indicators li.active {font-size: 14px;}
    section#app .box-app .carousel-indicators li span:before {width: 20px;height: 20px;}
    section#app .box-app .carousel-indicators li span , section#app .box-app .carousel-indicators li.active span:before,
    section#app .box-app .carousel-indicators li.active span {width: 30px;height: 30px;}
    section#wrap-price .content-price .item-box-price p>span.font-bold.color-black {font-size: 1.5rem;}
    section#content-service .main-service {margin-top: 0;}
    section#content-service .images-position .img-fade-top {top: 1%;}
    .wrap-animation .box-content-animation {padding-top: 0;}
    section#wrap-price .content-price .item-box-price .content-text-price {margin-top: 5px;}
    section#gym .wrap-animation .box-content-animation .location-gym { margin-top: 0; padding-bottom: 0; padding-top: 5px;}
    .wrap-content-doxcument p, main#main .wrap-box-table ul#wrap-table, main#main .wrap-box-table ul#wrap-table p {font-size: 11px!important;}
    header#header .logo img.logo-mobile {height: 28px;}
    header#header .box-header .btn, header#header .box-header .btn:last-child {padding: 10px 3px;}
}
@media (max-width:320px){
    header#header .logo {margin-left: 0;}
    section.wrap-slide-main .wrap-position .img-slide {left: 15px;}
    .wrap-slide-main .content-slide-header .content-slide br {display: none;}
    .wrap-slide-main .content-slide-header .content-slide p {margin-bottom: 12px;}
    .wrap-slide-main .content-slide-header .content-slide {padding-top: 15px; padding-bottom: 15px;}
    .wrap-slide-main .content-slide-header .title-content {font-size: 12px;padding: 10px 20px 10px 20px;}
    section#content-service .main-service {padding-top: 0; margin-top: 0;}
    section#content-service .images-position .img-fade-bottom {bottom: -17px;}
    section#content-service .main-service .item-service h2, section#rental h3, .wrap-title .content-title {
        font-size: 15px!important;
    }
    section#content-service .images-position .img-fade-top {top: 0;}
    section#content-service .main-service {padding-left: 10px; padding-right: 10px;}
    section#content-service .container {padding-bottom: 20px;}
    .scroll {top: -36px;}
    section#service .wrap-text-slide-service a.btn-yeylow {min-width: 90%;}
    section#app .box-app .box-background {width: 40%;}
    section#app .box-app .carousel-indicators {width: 59%;}
    section#app .box-text-swipe .text-detail-swipe p {font-size: 9px!important;}
    section#app .box-text-swipe .text-detail-swipe {bottom: 14%;}
    section#app .box-text-swipe {border-radius: 17px;}
    section#app .box-app .box-background .box-control-slide a[class*=carousel-control-] span img {width: 18px;}
    section#app .box-app .box-background .box-control-slide a.carousel-control-prev {left: 7%;}
    section#app .box-app .box-background .box-control-slide a.carousel-control-next {right: 7%;}
    .wrap-animation h3 {font-size: 13px;}
    section#wrap-price .box-content-animation .box-image-popup .item-box p {font-size: 10px!important;}
    section#wrap-price .wrap-animation {padding-left: 10px;padding-right: 10px;}
    section#wrap-price .wrap-animation .box-content-animation p.font-bold.text-right {font-size: 12px!important;}
    section#app .box-text-swipe .text-swipe::before,
    section#app .box-text-swipe .text-swipe::after{background-size: 20px 8px;display: inline-block;width: 20px;height: 8px;content: "";position: absolute;}
    section#app .box-text-swipe .text-swipe::before{ background-image: url('../images/Arrow\ 2.png'); left: -20px}
    section#app .box-text-swipe .text-swipe::after{background-image: url('../images/Arrow\ 1.png');right: -20px;}
}

@media (max-width:280px){
    header#header .logo img.logo-mobile {height: 26px;}
    header#header .container {padding-left: 10px; padding-right: 10px;}
    header#header .box-header .btn, header#header .box-header .btn:last-child {
        font-size: 9px;}
        section#app .box-text-swipe .text-swipe::before,
    section#app .box-text-swipe .text-swipe::after{background-size: 15px 6px;display: inline-block;width: 15px;height: 6px;content: "";position: absolute;}
    section#app .box-text-swipe .text-swipe::before{ background-image: url('../images/Arrow\ 2.png'); left: -17px}
    section#app .box-text-swipe .text-swipe::after{background-image: url('../images/Arrow\ 1.png');right: -17px;}
}













