@media (max-width: 1366px){
    section#form-search-header .box-search-header .img-trau img {position: relative; left: 100%;bottom: 0px;width: 210px;
    }
    section#form-search-header .box-search-header {
        max-width: 700px;
    }
    main#main section#form-search-header {padding-top: 200px;}
    .box-menu .item-menu .img-menu {height: 210px;}
    .box-menu .item-menu h4 {margin-top: 10px;}
    .box-menu .item-menu {padding-bottom: 30px;}
}
@media (min-width: 1200px) and (max-width:1800px){
    .box-menu .container{width: 63%; margin: 0 auto; max-width: 63%;}
    .box-menu .item-menu .img-menu img{width: 100%;}
    .box-list-item {max-width: 85%;}
}
@media (max-width: 1660px){
    .box-menu .item-menu{ padding-bottom: 25px; padding-top: 10px; transition: all .4s;}
    .box-menu .item-menu .img-menu { height: 230px;transition: all .4s;}
}
@media (max-width: 1500px){
    .box-menu .item-menu .img-menu {height: 215px;}
}
@media (max-width: 1360px){
    .box-menu .item-menu .img-menu {
        height: 200px;
    }
}
@media (max-width: 1200px){
    .box-list-item {max-width: 85%;}
}
@media (max-width: 1080px){
    section#form-search-header .box-search-header .img-trau img {max-width: 150px;bottom: -9px;}
}
@media (max-width: 1024px){
    header#header .icon-menu{display: block;}
    header#header .container {justify-content: flex-end;}
    header#header .menu-header-menu-container{display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #3AA8EB;
        padding-top: 60px;
        z-index: 8;
        transition: all .4s;
        transform: translateX(-100%);
    }
    header#header .menu-header-menu-container.active{transform: translateX(0);}
    header#header .box-header{align-items:unset;flex-direction: column; background: #249EE9; height: 100%;}
    header#header .menu-header-menu-container .box-header:last-child{display: block;}
    header#header .menu-header-menu-container .box-header:first-child{display: none}
    header#header .box-header a{
        padding: 15px 10px 15px 15px;
        border:none;
        display: block;
        height: auto;
        width: 100%;
        background: transparent;
        border-radius: 0;
        color: #FFFFFF;
        text-align: left;
        transition: all .4s;
        text-align: center;
        line-height: 2;
        font-size: 20px;
    }
    header#header .box-header li:last-child a{max-width: 150px; background-color: #FFFFFF; color: var(--color-main); padding:0; border-radius: 5px; margin:20px auto 0}
    .box-menu .item-menu .img-menu {height: 200px;}
    .box-menu .item-menu .img-menu img{height: 100%;}
    header#header a.mobile{display: block;}
    header#header .box-header a:hover{background: #FFFFFF; color: var(--color-main);}
    header#header .box-header a.icon-search,
     section#form-search-header .box-search-header .img-trau, header#header a.help-page{display: none;}
     section#question .list-search {padding-left: 5px; padding-right: 5px;}
     .box-list-item {max-width: 90%;}
     .box-menu .button-blue .btn{margin-right: auto;}
     footer#footer .list-menu-footer {padding-left: 25px; padding-right: 25px;}
     footer#footer .list-menu-footer ul li a {width: 100%;}
     footer#footer .list-menu-footer .row>.col-md-4:nth-child(2) {padding:0 25px;}
     main#main section#form-search-header {padding-top: 140px;}
}

@media (max-width: 768px){
    *,body{font-size: 14px;}
    footer#footer .list-menu-footer {padding-top:30px; padding-bottom: 30px;}
    footer#footer .list-menu-footer .row>.col-md-4:nth-child(1) {padding-right: 25px;}
    footer#footer .list-menu-footer .row>.col-md-4:nth-child(2) {padding-left: 15px;}
    footer#footer .list-menu-footer ul,footer#footer .list-menu-footer ul li a {margin:0}
    footer#footer .list-menu-footer ul li a{padding: 13px 0;}
    footer#footer .list-menu-footer .col-md-4:last-child ul li:last-child a{border-bottom: none;}
    footer#footer .list-menu-footer ul li {width: 100%;}
    footer#footer .list-menu-footer ul li a {width: 100%; font-size: 14px;}
    .box-menu .item-menu .img-menu img{width: auto;}
    section#form-search-header .box-search-header .wrap-input-search button {width: 130px; height: 35px;}
    section#form-search-header .box-search-header .form-group input {margin-right: 15px;height: 35px; width: calc(100% - 130px - 15px);}
    main#main section#form-search-header {padding-left: 15px; padding-right: 15px;}
    main#main h2 {padding: 35px 10px;font-size: 25px;}
    .box-list-item {margin-bottom: 0px;}
    .box-menu .item-menu{padding-bottom: 20px;}
    footer#footer .list-menu-footer ul a {background-position-y: 12px;}
    .box-menu>.container>.row>.col-md-4{flex: 0 0 50%; max-width: 50%; margin-bottom: 20px; padding-left: 10px; padding-right: 10px;}
    .box-menu>.container{padding-left:20px; padding-right: 20px;}
    .box-menu.wrap-flex>.container{padding-left: 15px; padding-right: 15px;}
    .box-menu .item-menu .img-menu {height: 220px;}
    .box-menu .item-menu h4 {font-size: 18px; min-height: 40px;}   
    .box-menu .item-menu .content-menu p {font-size: 17px; line-height: 2;} 
    .box-menu .button-blue .btn {margin-right: auto; margin-top: 10px; margin-bottom: 0;}
    .box-menu div[class*="col-"] {margin-bottom: 20px;}
    footer#footer .list-menu-footer .col-md-4{flex: 0 0 50%; max-width: 50%;}
    footer#footer .list-menu-footer .col-md-4:first-child{order: 1;}
    footer#footer .list-menu-footer .col-md-4:nth-child(2){order: 3; margin-top: -40px;}
    footer#footer .list-menu-footer .col-md-4:last-child{order: 2;}
    section#form-search-header .box-search-header .form-group label{margin-bottom: 10px;}
    section#form-search-header .box-search-header {padding:0 25px 10px}
    .box-search-header .wrap-input-search.list-search-header a{padding:4px 5px; margin-top: 5px;}
    .box-search-header .wrap-input-search a {max-width: 100px;}
    main#main section#form-search-header {padding-top: 100px;padding-bottom: 40px;} 
    .box-menu.wrap-menu-top {padding-bottom: 45px;}
    footer#footer .footer-last {padding:24px 15px}
    .box-content {padding-bottom: 0;}
    .padding-wrap-menu {padding-bottom: 100PX;}
    header#header .box-header a{padding: 12.5px 10px 12.5px 15px;font-size: 16px;}
}
@media (max-width: 576px){
    *,body{font-size: 12px;}
    main#main h2{font-size: 20px; padding:10px; line-height: 2;}
    /* section#form-search-header .box-search-header .form-group input { margin:0; margin-bottom: 10px;} */
    section#form-search-header .box-search-header .wrap-input-search button {margin: 0 auto;}
    .box-menu .item-menu h4 {font-size: 13px;min-height: 30px; margin-bottom: 0;}
    .box-menu .item-menu .content-menu p {font-size: 12px; line-height: 1.5;}
    footer#footer .list-menu-footer ul li a {font-size: 12px;}
    .box-menu.wrap-flex .item-menu h4 {font-size: 12px;}
    .box-menu.wrap-flex .item-menu a {align-items: center;}
    .box-menu.wrap-flex .item-menu {padding-top: 14px; padding-bottom: 14px;}
    section#form-search-header .box-search-header .wrap-input-search button {width: 85px; height: 30px; margin-right: 0;}
    section#form-search-header .box-search-header .form-group input{height: 30px; width: calc(100% - 85px - 20px);}
    .box-menu .button-blue .btn {max-width: 200px; width: 100%; height: 30px;}
    .box-menu .item-menu {padding-left: 5px; padding-right: 5px; padding-top: 5px; border-radius: 10px;}
    .box-search-header .wrap-input-search a:not(:last-child) {margin-right: 0;}
    .box-search-header .wrap-input-search.list-search-header a:not(:first-child){margin-left: 10px;}
    .box-content-company .item-company { padding-bottom: 20px;}
    .box-content-company h5 {font-size: 16px;}
    section#contact-thank {padding: 35px 0 35px;}
    .wrap-contact-thank img {margin: 30px 0; width: 80%;}
    .wrap-contact-thank .content-thank p {font-size: 14px;margin-bottom: 15px;}
    section#contact-thank .wrap-contact-thank {padding-bottom: 35px;}
    .box-contact {padding-top: 20px; width: 90%;}
    .box-contact .button-submit {margin-bottom: 30px;}
    .btn.btn-max-width {max-width: 216px;height: 30px;}
    .wrap-title {padding: 15px}
    .box-content h5, .box-content p {margin-bottom: 15px;}
    header#header .logo a>img{height: 30px;}
    header#header {padding: 15px 0;}
    .box-menu .item-menu .img-menu {height: 160px;}
    .box-menu .item-menu {padding-bottom: 10px;}
}
@media (max-width: 414px){
    header#header .container {justify-content: flex-end;}
    .box-menu .item-menu .img-menu {height: 100px;}
    .box-menu .item-menu .content-menu {min-height: 35px;}
    .box-search-header .wrap-input-search a {max-width: 85px;}
    .box-menu .item-menu {padding-bottom: 10px;}
    .box-menu .item-menu h4 {margin-bottom: 5px;}
}
@media (max-width: 375px){
    .box-menu>.container>.row>.col-md-4 {padding-left: 7px; padding-right: 7px;}
    .box-menu .item-menu {padding-bottom: 15px;}
    footer#footer .list-menu-footer {padding-left: 15px; padding-right: 15px;}
    footer#footer .list-menu-footer .row>.col-md-4:nth-child(1),
    footer#footer .list-menu-footer .row>.col-md-4:nth-child(2) {padding-right: 15px;}
}
@media (max-width: 320px){
    .box-menu .item-menu h4 {font-size: 10px; min-height: 20px;}
    .box-menu .item-menu {padding-left: 3px;padding-right: 3px; padding-bottom: 5px;}
    .box-menu .item-menu .content-menu p { font-size: 9px;}
    .box-search-header .wrap-input-search.list-search-header a{margin-top: 0; display: none;}
    .box-search-header .wrap-input-search.list-search-header a:nth-child(odd){margin-left: 0;}
    .box-search-header .wrap-input-search.list-search-header a:first-child,
    .box-search-header .wrap-input-search.list-search-header a:nth-child(2){display: block;}
    .box-menu.wrap-flex .item-menu {padding: 18px 15px;}
}
@media (max-width: 280px){
    footer#footer .list-menu-footer {padding-left: 5px;padding-right: 5px;}
    footer#footer .list-menu-footer .row>.col-md-4:nth-child(1),
    footer#footer .list-menu-footer .row>.col-md-4:nth-child(2) {padding-right: 0px;}
}









