@font-face {
    font-family: "NotoSansJP-Regular";
    src: url('./fonts/NotoSansJP-Regular.otf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: "NotoSansJP-Bold";
    src: url('./fonts/NotoSansJP-Bold.otf') format('truetype');
    font-weight: 700;
}
:root{
    --font-bold: "NotoSansJP-Bold";
    --font-normal: "NotoSansJP-Regular";
    --color-main: #3AA8EB ; 
    --color-gray: #3C3C3C;
    --background-main:#F2FBFF;
}
/* scroll */
/* @keyframes scroll{0%{height:0}50%{height:73px;margin-top:0}to{margin-top:73px;height:73px}} */
/*  */


/* css default */
*,body{font-size: 16px; font-family: var(--font-normal); line-height: 1; padding:0; margin:0; color: var(--color-gray); list-style: none; }
body{background: #FFFFFF;}
img{ object-fit: cover;}
.btn, .btn:focus,a, input, a:focus, input:focus, select, select:focus, textarea, textarea:focus{outline:none; box-shadow: none;}
a{color:#FFFFFF}
a:hover{text-decoration: none;}
.container{max-width: 1200px;}
ul,li{margin:0}
input, input:focus,.form-control:focus, textarea, textarea:focus, button, button:focus, a, a:focus, .btn:focus{outline: none; box-shadow: none;}
.mg-header{margin-top: 58px;}
/* css inheirit */
.btn{border-radius: 5px; height: 45px; width: 168px; display: flex; align-items: center; justify-content: center; color: #FFFFFF;} 
.btn.btn-white{background-color: #FFFFFF; color: var(--color-main)}
.btn.btn-white:hover{background: #efefef;}
.btn.btn-blue{background: var(--color-main); color: #FFFFFF;}
.btn.btn-blue:hover{background: #FFFFFF; border:1px solid var(--color-main); color: var(--color-main);}
.btn.btn-transparent{background: transparent;}
.btn.btn-transparent:hover{background: #FFFFFF; color: var(--color-main);}
.btn.btn-border{background: #FFFFFF; color: var(--color-gray); border: 1px solid #3C3C3C}
.btn.btn-border:hover{background: var(--color-gray); color: #FFFFFF;}
h1,h2,h3,h4,h5,h6{font-family: var(--font-bold); margin:0}
.bg-white{background: #FFFFFF;}
.bg-blue{background: var(--background-main);}
.font-bold{font-family: var(--font-bold);}
.btn.btn-max-width{width: 100%; max-width: 285px;}
.btn.btn-border-blue{border:1px solid var(--color-main); color: var(--color-main);}
.btn.btn-border-blue:hover{background: var(--color-main); color: #FFFFFF;}
/* header */
header#header{ background: var(--color-main); padding:10px 0; color: #FFFFFF; position: fixed; top: 0; left: 0; width: 100%; z-index: 10; transition: all .4s;}
header#header .box-header .btn.btn-transparent{margin-right: 5px;}
header#header .container{display: flex; justify-content: space-between;}
header#header .logo{display: flex; align-items: center;}
header#header .logo a.btn:hover{background: transparent; color: #e2e2e2;}
header#header .menu-header-menu-container{display: flex; align-items: center;}
header#header .box-header{display: flex; align-items: center;}
header#header a.btn{height: 40px;}
header#header .hide-menu{display: none; z-index: 9;}
header#header .icon-menu{display: none; position: absolute; left: 15px; width: 25px; height: 20px; background: transparent; z-index: 9; top: 19.5px;}
header#header .icon-menu span{position: relative; width: 100%;background: #FFFFFF;height: 2px;top: 50%;display: block;left: 0;transform: translateY(-50%); transition: all .4s;}
header#header .icon-menu span:before, header#header .icon-menu span:after{content: ""; position: absolute; width: 50%; height: 2px; background: #FFFFFF;transition: all .4s;}
header#header .icon-menu span:before{width: 100%;}
header#header .icon-menu span:before{top: -6px;}
header#header .icon-menu span:after{bottom: -6px;}
header#header .icon-menu.active{width: 30px;}
header#header .icon-menu.active span{ background: transparent;}
header#header .icon-menu.active span:before{transform: rotate(45deg); top: 0;}
header#header .icon-menu.active span:after{width: 100%;transform: rotate(-45deg); bottom: 0;}
header#header .menu-header-menu-container .box-header:last-child{display: none;}
/*  main */
/* main#main{background: var(--background-main);} */
.wrap-title{padding: 25px 15px; background: var(--background-main);}
.wrap-title h1{font-size: 20px; line-height: 1.5;margin:0}

/* form search header */
main#main section#form-search-header{ background: url(../images/background-header.png);position: relative; z-index: 1; padding-bottom: 80px;padding-top: 280px;}
main#main section#form-search-header:before{content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #3aa8eba6;}
section#form-search-header .box-search-header{width: 100%; max-width: 800px; border-radius: 10px; padding:0 30px 20px; margin: 0 auto; background: #FFFFFF; position: relative; } 
section#form-search-header .box-search-header .wrap-form{position: relative; z-index: 1;}
section#form-search-header .box-search-header .form-group{margin-bottom: 0;} 
section#form-search-header .box-search-header .form-group label{color: #707070; margin:15px 0;} 
section#form-search-header .box-search-header .form-group input{margin-right: 30px; width: calc(100% - 168px - 30px);}
section#form-search-header .box-search-header .wrap-input-search button{width: 168px;}
.box-search-header .wrap-input-search{display: flex; align-items: center; flex-wrap: wrap}
.box-search-header .wrap-input-search a{max-width: 156px; width: 100%;}
.box-search-header .wrap-input-search.list-search-header a{ margin-bottom: 10px;height: auto;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;display: block;padding: 10.5px 5px;}
.box-search-header .wrap-input-search a:not(:last-child){margin-right: 30px;}
section#form-search-header .box-search-header .img-trau{position: absolute; bottom: 0; right: 0;}
section#form-search-header .box-search-header .img-trau img{position: relative;left: 100%;bottom: -16px;margin-left: -11px;}

/* wrap menu */
section#menu{position: relative;}
section#menu .background-image{position: absolute; top: 0; left: 0; width: 100%;}
section#menu .background-image img{width: 100%;}
.box-menu{position: relative;}
.box-menu.wrap-menu-top{padding-bottom: 75px;}
main#main h2{padding: 60px 0; font-size: 35px; position: relative;}
.box-menu div[class*="col-"]{margin-bottom: 30px;}
.box-menu .item-menu{display: block; text-decoration: none;border-radius: 20px; background: #FFFFFF; text-align: center;box-shadow: 0 4px 25px #3aa8eb26; padding-bottom: 40px; padding-left: 20px; padding-right: 20px; padding-top: 15px; height: 100%; transition: all .4s; border:1px solid #FFFFFF}
.box-menu .item-menu:hover{box-shadow: none; border:1px solid var(--color-main)}
.box-menu .item-menu .img-menu{height: 246px; display: flex; justify-content: center; align-items: center;}
.box-menu .item-menu h4{font-size: 20px; color: var(--color-main); margin: 20px 0 5px; display: block;min-height: 48px;}
.box-menu .item-menu p{margin:0}
.box-menu .item-menu .content-menu{min-height: 46px;}
.box-menu .item-menu .content-menu p{line-height: 23px;word-break: break-all; width: 100%; overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical; display: -webkit-box;}

.box-menu.wrap-flex .item-menu{padding: 18px 25px; border-radius: 10px;}
.box-menu.wrap-flex .item-menu a{display: flex; justify-content: space-between;}
.box-menu.wrap-flex .item-menu h4{margin:0; font-size: 16px; color: var(--color-gray); font-family: var(--font-normal); line-height: 1; min-height: unset;}
.box-menu .button-blue .btn{margin:0 auto; margin-right: 0; width: 284px; margin-top: 20px; margin-bottom: 20px;}
.menu-header a{padding:0 11px; border-left: 1px solid #FFF;}
.menu-header a:first-child{border:none}
.menu-header a.icon-search{border:none; padding-left: 27px; padding-right: 0;}
.padding-wrap-menu{padding:50px 0 140px}
header#header a.mobile{display: none;}
/* search result */
.list-search{padding-bottom: 40px;}
.box-list-item{width: 100%; max-width: 1030px; margin:0 auto; margin-bottom: 15px;}
.box-list-item .item{padding:26px 0; border-bottom: 1px solid #3C3C3C4A; display: flex; align-items: center;}
.box-list-item .item span{transition: .4s;}
.box-list-item .item:hover span{color: var(--color-main);}
.box-list-item .item:last-child{border:none}
.box-list-item .item span{ color: #000000; display: inline-block; margin-left: 15px;}


/* contents */
.box-content{max-width: 850px; width: 100%; margin:0 auto; padding:20px 0 110px}
.box-content h5{font-size: 16px; color:#000000; margin-bottom: 40px; line-height: 1.4;}
.box-content p{line-height: 1.4; color: #707070; margin-bottom: 40px;}
.box-content .img-content{max-width: 560px; width: 100%; margin:25px auto}
.box-content .img-content img{width: 100%;}
/* question */
.title-question{display: block; border:1px solid var(--color-main); color: var(--color-main); padding: 12px 15px; margin-bottom: 0;}
section#question .list-search{padding:30px 120px}

/* company */
.box-content-company{ font-size: 20px; padding-top: 35px;}
.box-content-company h5{font-size: 20px; color:var(--color-main); padding: 10px 10px 10px 0; border-bottom: 1px solid #3C3C3C4A; margin-bottom: 25px;}
.box-content-company .item-company{padding-bottom: 110px;}
.box-content-company .item-company div{margin-bottom: 15px;}
.box-content-company .item-company div>span{color: #707070; display: inline-block; margin-bottom: 5px;}
.box-content-company .item-company p.font-bold{color: #000000; margin-bottom: 0; line-height: 1.5;}

/* contact */
.box-contact{max-width: 665px; margin: 0 auto; width: 100%; padding-top: 50px;}
.box-contact .form-group{margin-bottom: 10px;}
.box-contact .form-group label{margin-bottom: 10px;}
.box-contact .button-submit{margin-top: 30px; margin-bottom: 100px;}
.box-contact .button-submit .btn{margin:0 auto;}

/* contact-thank */
 
section#contact-thank{padding:80px 0 65px; background: var(--background-main);}
section#contact-thank .wrap-contact-thank{width: 100%; max-width: 895px; margin:0 auto; border-radius: 10px; text-align: center; padding:0 25px; padding-bottom: 70px;}
.wrap-contact-thank img{margin:40px 0;}
.wrap-contact-thank .content-thank{margin-bottom: 45px;}
.wrap-contact-thank .content-thank p{font-size: 18px; font-family: var(--font-bold); margin-bottom: 30px; line-height: 1.5;}
.wrap-contact-thank .btn{margin:0 auto;}

/* footer */
footer#footer{border-top: 5px solid var(--background-main);}
footer#footer .list-menu-footer{ padding: 55px 0 65px; background: #FFFFFF;}
footer#footer .list-menu-footer ul li a{display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; width:70%; color: var(--color-gray); transition: .4s; padding: 5px 0;}
footer#footer .list-menu-footer ul li a span:hover{color: var(--color-main);}
footer#footer .list-menu-footer ul{display: block;}
footer#footer .list-menu-footer ul li{width: 100%;}
footer#footer .list-menu-footer ul li:last-chid a{margin-bottom: 0;}
footer#footer .list-menu-footer ul a span{transition: all .4s;}
footer#footer .list-menu-footer ul a:hover{color: var(--color-main);}
footer#footer .footer-last{background: var(--color-main); color: #FFFFFF; padding: 20px 15px}
footer#footer .footer-last span{color: #FFFFFF;}
footer#footer .list-menu-footer ul a{background: url(../images/vector.png); background-repeat: no-repeat;background-position-x: 100%;background-position-y: 4px;}
footer#footer.position{position: fixed; bottom:0; left: 0; right: 0;}
/*  */